<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinearTransformation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LinearTransformation.Properties.Settings>
            <setting name="CustomColour1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColour16" serializeAs="String">
                <value>0</value>
            </setting>
        </LinearTransformation.Properties.Settings>
    </userSettings>
</configuration>